//Colors
$color-main: #407EC9;
$color-secondary: darken($color-main, 28%);
$color-menu: #D3E7F9;
$color-accent: #c00;
$color-bg: #F1F6FB;
$color-gray: #6e8291;
$color-breadcrumb: #D8E5F2;
$color-top-paginator: #E1EDF9;

//System messages
$color-success: #4CAF50;
$color-info: #2196F3;
$color-error: #F44336;
$color-warning: #F3C746;
$color-warning-text: #664619;

//Spaces
$space-tiny: 0.25em;
$space-small: 0.5em;
$space-normal: 1em;
$space-large: 1.5em;
$space-big: 3em;
$space-huge: 4em;