.display{
  display: inline-block
}
.display-button{
  display: inline;
}
.ui-input-number{
  border-bottom-left-radius: 15px !important;
  padding: 8px !important;
  border-width: 0px;
  border: 1px solid #948f8f;
  width: 325px;
  font-size: 22px;
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  transition: background-color 0.3s;
  
}

.ui-button {
  background-color: #407EC9;
  color: white;
  padding: 15px 24px;
  margin-left: 10px;
  height: auto;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500 !important;
  font-size: 1.1em;
  &.ui-button-secundary{
      background-color:red !important;
      border-bottom-left-radius: 0px !important;
      margin-left: 0px;
  }
  &.topbu{
    border-top-right-radius: 0px !important;
    margin-left: 0px;
  }
  &.pds{
    padding: 15px 28px;
  }
  &.ui-cl{
  
    font-size: 20px;
    padding: 10px 25px;
    border-bottom-left-radius: 0px;
    background: #fff;
    color: #383636;
    border: 1px solid #948f8f;
              
  }
}
.col-xs-44{
  width: 38%;
  &:after{
    content: '';
    width: 2px;
    background-color: #444;
    height: 500px;
    display: block;
    position: absolute;
    top: 10px;
    left: 470px;
    margin-bottom: -30px;
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    transition: background-color 0.3s;
  }
}
.col-xs-88{
  width: 50%;
  position: absolute;
  top: 0;
  float: right;
  left:490px;
  
}
.bgkey{
  background-image: url(/assets/images/icon_teclad.png);
  margin: 0 auto;
  display: block;
  width: 69px;
  height: 65px;
  background-size: cover;
  background-position: center right;
  margin-bottom: 0.5em;
  position: relative;
  left: -40px;
  top: -20px;
  cursor: pointer;
}
.tec{
  background-image: url(/assets/images/icon_calc.png);
  margin: 0 auto;
  display: block;
  width: 35px;
  height: 45px;
  background-size: cover;
  background-position: center right;
  margin-bottom: 0.5em;
  position: relative;
  top: -92px;
  left: 146px;
  cursor: pointer;
}
