<!--The content below is only a placeholder and can be replaced.-->

<!---->
<div class="content">
  <app-topbar></app-topbar>
  <div class="app-content">
    <app-sidebar></app-sidebar>
    <div class="content" style="top: -50px">
      <app-breadcrumb></app-breadcrumb>
      <div class="content-container" style="top:-5px">
        <h1>Clientes</h1>
        <div class="content-box" style="position: relative; min-height: 590px;">
          <div class="col-xs-44">
            <div class="row">
              <div class="col-xs-12">
                <div class="datatable-buttons">
                  <button pButton class="ui-button topbu" label="Facturar">Facturar</button>
                  <button pButton class="ui-button ui-button-secundary" label="Devolución">Devolución</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="datatable-buttons">
                  <button pButton class="ui-button" label="Vendedor">Vendedor</button>
                  <button pButton class="ui-button" label="Cliente">Cliente</button>
                  <button pButton class="ui-button" label="Documento en Espera">En Espera</button>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-xs-9">
                <div class="datatable-buttons">
                  <button pButton class="ui-button pds" label="Buscar">Buscar</button>
                  <button pButton class="ui-button pds" label="Buscar">Buscar</button>
                  <button pButton class="ui-button pds" label="Convenio">Convenio</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-9">
                <form class="row">
                  <div class="display">
                    <label for="number">Leer producto</label>
                    <input *ngIf="!numberT"
                    class="ui-input-number"
                    matInput
                    matKeyboard
                    placeholder="From detected locale ({{ locale }})"
                    name="sushi"
                    [(ngModel)]="testModelValue"
                    (enterClick)="submitForm(form)"
                >
                <input *ngIf="numberT"
                #testSimpleValue
                class="ui-input-number"
                type="number"
                matInput
                placeholder="Swiss bank combination lock"
                name="safe"
                [matKeyboard]="'de-CH'"
                [value]="1234567890"
                (enterClick)="submitForm(form)"
            >
       
                    
                  </div>
                  <div class="   display-button">
                    <button pButton class="ui-button ui-cl" label="+">+</button>
                
                  </div>
                </form>
              </div>
              <div class="row">
                  <div><span class="bgkey" (click)="openKeyboard(locale)"
                    aria-label="Open selected keyboard"></span><span (click)="openNUmber(locale)" class="tec"></span></div>
                  
              </div>
            </div>
          </div>
          <div class="col-xs-88">
            <img src="/assets/images/factura.png" width="261" height="535" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
