<div class="app-sidebar">
  <!--acciones recientes-->
  <div class="sidebar-item">
    <div class="item-icon recents"></div>
    <div class="item-text">
      Acciones Recientes
    </div>
  </div>
  <!--Compras-->
  <div class="sidebar-item">
    <div class="item-icon cart"></div>
    <div class="item-text">
      Compras
    </div>
  </div>
  <!--Buscar-->
  <div class="sidebar-item">
    <div class="item-icon search"></div>
    <div class="item-text">
      Buscar
    </div>
  </div>
  <!--Personas-->
  <div class="sidebar-item">
    <div class="item-icon people"></div>
    <div class="item-text">
      Personas
    </div>
  </div>
</div>
